.Item {
    display: grid;
    grid-template: 
        'title btnDelete'
        'label label'
        'field field'
        'btn ...'
        /1fr auto;

  & .title {
    grid-area: title;

    font-weight: bold;
    font-size: 32px;
    line-height: 37px;

    margin-bottom: 22px;
  }
  & .btn {
    grid-area: btn;

    justify-self: start;

    border: 1px solid #0071BC;
    border-radius: 4px;
    padding: 10px 40px;

    background: transparent;

    &:hover,
    &:focus {
        background-color: #0071BC;
        color: #ffffff;
        outline: none;
    }
  }
  & .btnDelete {
    grid-area: btnDelete;
    align-self: start;

    border: 1px solid #FF0000;
    border-radius: 4px;
    padding: 10px 40px;

    background: transparent;

    &:hover,
    &:focus {
        background-color: #FF0000;

        color: #ffffff;
    }
  }
  & .btnSave {
    border-color: #39B54A;
    &:hover,
    &:focus {
        background-color: #39B54A;
    }
  }

  & .label {
    grid-area: label;

    margin-bottom: 16px;
  }

  & .field {
    grid-area: field;

    padding: 10px;
    margin-bottom: 34px;

    background: #F2F2F2;

    border: none;

    &:focus {
        outline: none;
    }
  }
}