.App {
    padding: 40px 64px;

    min-width: 100vw;
    min-height: 100vh;

    background-color: #FFFFFF;

    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
}