.Items {
    display: grid;
    grid-template: 
        'title btn' auto
        'tasks tasks' 1fr
        /1fr   auto;
    grid-gap: 30px;

    & .btn {
       background: transparent;
    }

    & .title {
        grid-area: title;

        font-weight: bold;
        font-size: 32px;
        line-height: 37px;
    }

    & .btnAdd {        
        grid-area: btn;

        border: 1px solid #39B54A;
        border-radius: 4px;
        padding: 9px 40px;
    }

    & .list {
        grid-area: tasks;

        font-family: 'Tahoma', sans-serif;
        line-height: 17px;

        & .item {
            display: grid;
            grid-template: 1fr / 185px 1fr 100px;
            
            &>* {
                border: 1px solid #E6E6E6;
                padding: 15px 20px;
                margin-bottom: -1px;
                margin-right: -1px;
            }

            & .id {
                border-right: 0;
                width: 185px;
            }

            & .controlContainer {
                display: flex;
                justify-content: space-evenly;

                padding: 10px;
                & > * {
                    display: inline-block;
                    width: 22px;
                    height: 22px;

                    border: none;
                    padding: 0;
                }
            }
        }
    }
}