.NewTask {
    display: grid;
    grid-template: 
    'label btnClose' 14px
    'field field' 
    'error error' 0
    '... btnAdd' 36px
    /1fr auto;

    grid-gap: 10px;

    width: 462px;
    height: 182px;
    padding: 30px;

    border: 1px solid #F2F2F2;
    border-radius: 4px;

    & .btnClose {
        grid-area: btnClose;
        justify-self: end;

        width: 14px;
        height: 14px;

        background: transparent;
        border: none;
        padding: 0;

        
    }

    & .label {
        grid-area: label;
    }

    & .field {
        grid-area: field;

        background: #F2F2F2;
        border: none;
        border-radius: 4px;
    }

    & .error {
        grid-area: error;

        font-size: 12px;
        line-height: 14px;
        color: #FF0000;
    }

    & .btnAdd {
        grid-area: btnAdd;

        padding: 0 40px;

        background: transparent;

        border: 1px solid #39B54A;
        border-radius: 4px;
    }
}